*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font:bold 14px Arial,sans-serif;
}
.calculator{
	width: 325px;
	margin: 100px auto;
	/*height: 500px;*/
	padding: 20px 20px 9px;
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea,#8bceec);
	border-radius: 3px;
	box-shadow: 0px 0px #009de4,0 10px 15px rgba(0,0,0,.2);
}

.top .screen{
	float: right;
	width: 212px;
	height: 40px;
	padding: 0 10px;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0,0,0,.2);
	font-size: 17px;
	line-height: 40px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.2);
	text-align: right;
	letter-spacing: 1px;
}
.keys,.top{
	overflow: hidden;
}
.keys span,.top .clear{
	float: left;
	width: 66px;
	height: 36px;
	cursor: pointer;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0,0,0,.2);
	margin: 0 7px 11px 0;
	color: #888;
	line-height: 36px;
	text-align: center;
	position: relative;
	transition: all .5s ease;
}
.keys .operator{
	margin-right: 0;
	background: #fff0f5;
}
.keys .eval{
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}
.top .clear{
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: #fff;
}
.keys span:hover{
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: #fff;
}
.keys .eval:hover{
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #fff;
}
.top .clear:hover{
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: #fff;
}
.keys span:active{
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}
.keys .eval:active{
	box-shadow: 0px 0px #717a33;
	top: 4px;
}
.top .clear:active{
	box-shadow: 0px 0px #d3545d;
	top: 4px;
}