<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<div id="box">
		<!-- 指令：拓展HTML标签的功能属性 -->
		<ul>
			<li v-for="(value,index) in arr">
				{{index}}  {{value}}
			</li>
		</ul>
		<ul>
			<li v-for="(key,v,index) in json">
				{{index}} {{v}}  {{key}}
			</li>
		</ul>
		<p v-if="arr.length==0">{{message}}</p>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#box",//选择器
			data:{//vue以数据为核心
				message:"暂无数据",
				arr:['html','css','javascript'],
				json:{a:"html",b:'css',c:'javascript'}
			}
		})
	</script>
</body>
</html>